<div class="container">
<h1>Alterando Receita</h1>

<%= render 'form', recipe: @recipe %>
<br>
<%= link_to 'Ver', @recipe, class: "btn btn-default" %> |
<%= link_to 'Voltar', recipes_path, class: "btn btn-primary" %>
</div>
