
<div class="container">
    <h1 class="text-center">Sistema de Gestão</h1>
    <h3 class="text-center">Templo Espiritualista Fé em Jesus Cristo: Mãe Mariazinha do Cafundó, Pai João de Camargo e Irmão André Luiz</h3>
</div>